[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=1.11.23,<1.12"
gdal = "==2.2.*"
ncdjango = "==0.5.2"
django-webpack-loader = "==0.6.*"
psycopg2-binary = "==2.7.*"
mercantile = "==1.0.*"
aiohttp = "==3.1.*"
djangorestframework = "==3.8.*"
django-celery-results = "*"
weasyprint = "==0.42.*"
geopy = "*"
trefoil = "*"
setuptools = "*"
numpy = "*"
pyproj = "==1.9.6"

[requires]
python_version = "3.6"
