[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==1.11"
GDAL = "==2.2.4"
numpy = "*"
ncdjango = "*"
django-webpack-loader = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.6"
