@import '~bulma/sass/utilities/initial-variables';

$primary: $blue;
$sidebar-width: 440px;
$header-height: 52px;
$tab-header-height: calc(42px + 1.5rem);
$tab-content-height: calc(100vh - #{$header-height} - #{$tab-header-height});
$family-strong: 'Arial Black', 'Arial Bold', Gadget, sans-serif;

@import '~bulma/bulma';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-basemaps/L.Control.Basemaps.css';
@import '~leaflet-zoombox/L.Control.ZoomBox.css';
@import '~leaflet-geonames/L.Control.Geonames.css';
@import '~leaflet-range/L.Control.Range.css';
@import '~leaflet-html-legend/dist/L.Control.HtmlLegend.css';

@mixin ios-mobile-portrait {
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ration: 2) and (orientation: portrait) {
    @content;
  }
}

// IE fixes
@include tablet {
  .modal-card {
    margin: 0;
  }
}
// End IE fixes

@include ios-mobile-portrait {
  .modal-card {
    position: static;
    margin-top: #{$header-height * 1.5};
  }

  .modal-card-body {
    max-height: calc(100vh - 146px - #{$header-height * 1.5});
    background: $white;
    z-index: 10;
  }
}

.spht-app > .columns {
  position: absolute;
  margin-top: $header-height;
  height: calc(100% - #{$header-height});
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar.is-dark a:hover {
  color: $orange;
}

.sidebar {
  box-shadow: 2px 0px 10px;
  z-index: 2; // Raise box shadow above leaflet map
}

@include mobile {
  .sidebar {
    width: 100%;
    position: absolute;
    box-shadow: none;
    background-color: #fff;
  }
}

.sidebar-inner {
  width: $sidebar-width;
}

@include mobile {
  .sidebar-inner {
    width: 100%;
  }
}

.sidebar .tab-content {
  position: relative;
  height: $tab-content-height;
  overflow: auto;
  padding: 0 1.5em;
}

@include mobile {
  .sidebar .tab-content {
    margin-top: $tab-header-height;
    height: auto !important;
    min-height: $tab-content-height;
  }
}

.column.map {
  position: relative;
}

.map-container {
  position: relative;
  height: calc(100vh - #{$header-height});
  width: 100%;
  z-index: 1;
}

.preview-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.preview-map-container {
  width: 645px;
  height: 430px;
}

.modeling-table {
  position: relative;
  left: -1.5em;
}

td {
  text-align: center !important;
}

em {
  font-size: 0.9em;
}

.badge {
  border-radius: 10px;
  padding: 3px 7px;
  background-color: #777;
  color: #fff;
  font-weight: bold !important;
  font-size: 0.75rem !important;
  vertical-align: middle;
  font-family: $family-strong;
}
.configuration-step .step-content {
  margin: 10px 0px 0px 25px;
}

.configuration-step > h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

@include tablet {
  .tabs.is-boxed li.is-active-tablet a {
    color: $tabs-link-active-color;
    background-color: $tabs-boxed-link-active-background-color;
    border-color: $tabs-boxed-link-active-border-color;
    border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
  }
}

.tooltip {
  max-width: 400px;
}

.habitat-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 1;
}

.legend-square {
  width: 10px;
  height: 10px;
}

.justify-right {
  justify-content: flex-end;
}

.pdf-preview .modal-card-body {
  width: 645px;
  height: 430px;
  padding: 0;
}

.pageloader {
  position: absolute !important;
  top: 65px;
  bottom: 77px;
  background-color: $primary;
}

.error-debug-info {
  max-height: 200px;
  overflow: auto;
}
